[submodule "Client/Assets/UnityPackages"]
	path = Client/Assets/UnityPackages
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitypackages.git
[submodule "Client/Assets/NativePlugins"]
	path = Client/Assets/NativePlugins
	url = git@gitlab.com:9tapmodule.repository/0300000001.module_nativeplugins.git
