<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbQaDU8SghBbTzf_7yifgeAKG6tAmbJBs</string>
	<key>GCM_SENDER_ID</key>
	<string>538763667888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninetap.tilematchworldtours</string>
	<key>PROJECT_ID</key>
	<string>tile-match--world-tours</string>
	<key>STORAGE_BUCKET</key>
	<string>tile-match--world-tours.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538763667888:ios:06509592486c915ca48e75</string>
	<key>DATABASE_URL</key>
	<string>https://tile-match--world-tours-default-rtdb.firebaseio.com</string>
</dict>
</plist>